body{
  background: #333333;
}
input:focus{
  outline: transparent;
}
.fade-enter {
  left: -100vw;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  left: 0vw;
  transition: left 500ms ease-in-out 300ms;
}

.fade-exit {
  left: 0vw;
}

.fade-exit.fade-exit-active {
  left: -100vw;
  transition: left 300ms ease-in-out;
}

.page {
  position: absolute;
  width: 100%;
}
button,a,svg{
  cursor: pointer;
}